GOOGLE_GENERATIVE_AI_API_KEY="your-google-generative-ai-api-key-here"
DATABASE_URL="your-database-connection-string-here"
JWT_SECRET="your_jwt_secret_key_here"
FIREBASE_PROJECT_ID="your-firebase-project-id-here"
JWT_ISSUER="https://securetoken.google.com/your-firebase-project-id-here"
JWT_AUDIENCE="your-firebase-project-id-here"
GCS_BUCKET_NAME="your-gcs-bucket-name-here"
GCP_KMS_KEY_ID="your-gcp-kms-key-id-here"
GCP_KMS_PROJECT_ID="your-gcp-kms-project-id-here"
GCP_KMS_LOCATION_ID="your-gcp-kms-location-id-here"
GCP_KMS_KEY_RING_ID="your-gcp-kms-key-ring-here"
AI_API_KEY="your-gemini-api-key-here"

# Redis Cache Configuration
REDIS_HOST="localhost"
REDIS_PORT="6379"
REDIS_PASSWORD="redis_password"
